
article.find-hotel-number
    h2.find-hotel-number__article Найдем номер под ваши пожелания
    div.find-hotel-number__arrive-block
        p.find-hotel-number__arrive-article Прибытие
        time.find-hotel-number__arrive-calendar
    div.find-hotel-number__checkout
        p.find-hotel-number__checkout-article
        time.find-hotel-number__checkout-calendar
    div.find-hotel-number__guest
        p.find-hotel-number__guest-article
        div.find-hotel-number__guest-amount
    button.find-hotel-number__button Подобрать номер