
article.find-hotel-number
    h2.find-hotel-number__article Найдем номера под ваши пожелания
    include ../arrive-block/arrive-block.pug
    div.find-hotel-number__guest
        p.find-hotel-number__arrive-article Гости
        include ../dropdown/dropdown.pug
        +guests()
    include ../buttons/button.pug
    +button-color-arrow("Подобрать номер")
