
article.find-hotel-number
    h2.find-hotel-number__article Найдем номера под ваши пожелания
    div.find-hotel-number__arrive
        div.find-hotel-number__arrive-block
            p.find-hotel-number__arrive-article Прибытие
            include ../calendar/calendar.pug
        div.find-hotel-number__arrive-block.find-hotel-number__arrive-article_margin
            p.find-hotel-number__arrive-article Выезд
            include ../calendar/calendar.pug
    div.find-hotel-number__guest
        p.find-hotel-number__arrive-article Гости
        div.find-hotel-number__guest-amount Сколько гостей
            span.calendar__arrow
    button.find-hotel-number__button Подобрать номер