$list-color:rgba(31, 32, 65, 0.5);
$border-color:#BC9CFF;

.main-menu{
    font-family:'Montserrat-Regular';
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding-left:10%;
    padding-right:10%;
    height:70px;
    box-sizing: border-box;
    background: #fff;
    @media screen and (max-width: 980px){
        padding-left:0px;
        padding-right:0px;  
    }
}

.main-menu__brand{
    width: 110px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu__logo-border-gradient{
    background: linear-gradient(180deg, $border-color 0%, #8BA4F9 100%);
    padding:2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
}

.main-menu__logo{
    background: #fff;
    width:100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}

.main-menu__logo::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(./img/Vector.svg);
    position:absolute;
    top:14px;
    left:9px;
}

.main-menu__logo::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 6px;
    background-image: url(./img/Vector2.svg);
    position:absolute;
    top:14px;
    right:9px;
}

.main-menu__label{
    background-image: url(./img/TOXIN.svg);
    background-repeat: no-repeat;
    width: 55px;
    height: 13px;
    display: inline-block;
}

.main-menu__list-and-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media screen and (max-width:  640px){
        width:55%;
    }
}

.main-menu__list{
    display: flex;
    justify-content: space-between;
    width: 455px;
    margin:0px;
    padding:0px;
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color:$list-color;
    padding-right: 20px;
    background-color: #fff;
    @media screen and (max-width: 640px){
        display: none;
        &.main-menu__list-display{
            display: inline-flex;
            width:140px;
            height: 180px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            top:50px;
            left:-50px;
            font-size: 18px;
            line-height: 20px;
            border:2px solid $border-color;
            z-index: 1;
        }
    }
}

.main-menu__list-arrow{
    display: inline-block;
    width:6px;
    height: 6px;
    border-bottom:2px solid $list-color;
    border-right: 2px solid $list-color;
    transform: rotate(45deg);
    margin-left: 6px;
    margin-bottom: 2px;
}

.main-menu__list-item-text {
    display: inline-block;
    margin:0px;
}

.main-menu__list-link{
    color:$list-color;
    text-decoration: none; 
}

.main-menu__burger-background{
    @media screen and (max-width:  640px){
        display: block;
        width: 40px;
        height: 40px;
        background: linear-gradient(180deg, $border-color 0%, #8BA4F9 100%);
        border-radius: 6px;
        padding:3px;
    }
}

.main-menu__burger{
    @media screen and (max-width:  640px){
        display: block;
        background-color: #fff;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        position: relative;
        pointer-events: none;
    }
}

@mixin burger-line {
    display: block;
    position: absolute;
    border-top:2px solid $border-color;
    width:30px;
    left:5px;
    pointer-events: none;
}

.main-menu__burger-line1{
    @media screen and (max-width: 640px){
        @include burger-line(); 
        top:8px;
    } 
}

.main-menu__burger-line2{
    @media screen and (max-width: 640px){
        @include burger-line();
        top:18px;
    }
    
}

.main-menu__burger-line3{
    @media screen and (max-width: 640px){
        @include burger-line();
        top:28px;
    }
    
}

.main-menu__media-button{
    display: block;
    background-image: url(./img/icons8-войти-50.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
    @media screen and (min-width: 980px){
        display: none;
    }
}

.main-menu__buttons{
    display: flex;
    justify-content: space-between;
    width: 41.2%;
    @media screen and (max-width: 980px){
        display: none;
        &.main-menu__buttons-display{
            width:200px;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            position: absolute;
            top:50px;
            right:0px;
            background-color: #fff;
        }
        
    }
}

.main-menu__enter-style{
    width: 87px;
    height: 34px;
    z-index: 1;
}

.main-menu__signin-style{
    width: 196px;
    height: 34px;
    padding-left:7px;
}

.main-menu__text-button-style{
    left:20px;
}

