header.main-menu
    div.main-menu__brand
        div.main-menu__logo-border-gradient
            div.main-menu__logo 
                span.main-menu__logo-symbol
        div.main-menu__label
    div.main-menu__list-and-buttons
        ul.main-menu__list
            li.main-menu__list-item О нас
            li.main-menu__list-item 
                p.main-menu__list-item-text Услуги
                span.main-menu__list-arrow
            li.main-menu__list-item Вакансии
            li.main-menu__list-item Новости
            li.main-menu__list-item 
                p.main-menu__list-item-text Соглашения
                span.main-menu__list-arrow
        div.main-menu__buttons
            
    