.main-content{
    display: block;
    max-height: 840px;
    height: 100%;
    background-image: url(./img/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:70px;
    padding-left:140px;
}