$text-color: #1F2041;
$border-color:rgba(31, 32, 65, 0.5);
$disable-color:rgba(31, 32, 65, 0.20);

font-face {
    font-family: 'Montserrat', sans-serif;
    src:  url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@mixin style-text {
    font: {
        style: normal;
        weight: bold;
        size: 12px;
    
    }
    line-height: 15px;
    text-transform: uppercase;
}

@mixin style-button {
    background-color: #ffffff;
    border: none;
    padding: 0px;
    font-weight: bold;
}

.dropdown{
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.dropdown__article{
    width: 320px;
    height: 44px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
}

.dropdown__common-num-people{
    display: inline-block;
    padding-left:15px;
    padding-top:13px;
    color:$border-color;
    margin:0px;
}

.dropdown__arrow{
    display: inline-block;
    width:7px;
    height: 7px;
    border:none;
    border-bottom:2px solid rgba(31, 32, 65, 0.5);
    border-right:2px solid rgba(31, 32, 65, 0.5);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
    position: absolute;
    top:15px;
    right: 13px;
}

.dropdown__field-types-people{
    background: #ffffff;
    width: 320px;
    height: 159px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-top: none;
    margin-top:-1;
    padding-right: 5px;
    box-sizing: border-box;
    position: absolute;
}

.dropdown__choose-num-guest{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.dropdown__type-people{
    @include style-text;
    display: inline-block;
    box-sizing: border-box;
    width: 83px;
    margin-left: 13px;
    color: $text-color;
    font-weight:800;
    margin-bottom: 4px;
}

.dropdown__value{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.dropdown__operations-block{
    padding-top: 5px;
}

.dropdown__operations{
    display: inline-block;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    border:1px solid $border-color;
    background-color: #ffffff;
    color:$border-color;
}

.dropdown__operations_minus:disabled{
    border:1px solid $disable-color;
    color:$disable-color;
}

.dropdown__button-clear{
    @include style-text;
    @include style-button;
    width: 72px;
    height: 15px;
    color: rgba(31, 32, 65, 0.5);
    margin-left: 10px;
    margin-top:15px;
}

.dropdown__button-apply{
    @include style-button;
    @include style-text;
    width: 84px;
    height: 15px;
    color: #BC9CFF;
    margin-left: 142px;
    margin-top:15px;
}

.dropdown__button, 
.dropdown__button:active, 
.dropdown__button:focus {
    outline: none;
}


