div.slider
    div.slider__header
        label(class="slider__price-range") Диапазон цены:
        div.slider__price-output-block
            p.slider__price-output-first.slider__price-output-disigned
            span.slider__symbol &#8381; - 
            p.slider__price-output-second.slider__price-output-disigned
            span.slider__symbol &#8381;
    div(class="slider__chose-price")
    p.slider__info Стоимость за сутки пребывания в номере
