$main-color: #BC9CFF;
$text-color:rgba(31, 32, 65, 0.75);

.calendar__date-input{
    position: absolute;
    left:1px;
    bottom: 1px;
    visibility: hidden;
}

.datepicker{
    font-family:'Montserrat-Regular';
    width: 320px;
    height: 369px;
    border:1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
}

.datepicker--pointer{
    visibility: hidden;
}

.datepicker--nav{
    box-sizing: border-box;
    padding-top:21px;
    padding-bottom: 20px;

}

.datepicker--nav-title{
    color:#1F2041;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
}

.datepicker--content{
    display: block;
    height: 240px;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
}

.datepicker--day-name{
    color:$main-color;
    font-weight: bold;
    width: 39.88px;
    height: 40px;
}

.datepicker--cell-day.-current- {
    background-image: url(Rectangle.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    color:white;

}

@mixin circle {
    background: none;
    background-image: url(Rectangle2.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin background {
    &.first-date{
        background-image: url(Rectangle2.png), linear-gradient(to right, #fff 0%, #ece6ff 100%);
        background-size: 30px 30px, auto;
        background-repeat: no-repeat;
        background-position: center, right;
    }
    &.second-date{
        background-image: url(Rectangle2.png), linear-gradient(to left, #fff 0%, #ece6ff 100%);
        background-size: 30px 30px, auto;
        background-repeat: no-repeat;
        background-position: center, center;
    }
}

.datepicker--cell-day{
    border-radius: 0px;
    &.-selected-{
        @include circle();
        @include background();
    }
    &.-focus-{
        @include circle();
        @include background();
        
    }
    &.-focus-.-selected-{
        @include circle();
        @include background();
    }
}

.datepicker--button{
    display: inline-block;
    font-family: 'Montserrat',  sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    margin-top: 10px;
    margin-left: 20px;
    &:hover{
        color:$main-color;
        background: none;
    }
}

.date-picker__button-accept{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    background: none;
    border:none;
    outline: none;
    padding:0px;
    margin:0px;
    width: 84px;
    height: 15px;
    margin-top:7px;
    margin-right: 10px;
    &:hover{
        color:$main-color;
    }
}

@mixin arrow{
    border:2px solid $main-color;
    display:block;
    height:10px;
    width:10px;
    transform:rotate(45deg);
}

@mixin arrow-before{
    content: "";
    display:block;
    height:15px;
    width:10px;
    transform:rotate(45deg);
    border-left: 2px solid $main-color;
    top:1px;
    left:2.5px;
    position:absolute;
}

.datepicker__arrow{
    position: relative;
}

.datepicker__arrow-next{
    @include arrow;
    border-bottom:none;
    border-left:none;
    &::before{
        @include arrow-before;
    }
}

.datepicker__arrow-prev{
    @include arrow;
    border-top:none;
    border-right: none;
    &::before{
        @include arrow-before;
    }
}

$border-color:rgba(31, 32, 65, 0.25);

//Оформление одного поля для ввода даты
.calendar__block{
    width: 266px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 4px;
    padding-top:8px;
    padding-left:15px;
    position: relative;
    &::before{
        content: "";
        display:block;
        height:8px;
        width:8px;
        transform:rotate(45deg);
        border-right: 2px solid $border-color;
        border-bottom: 2px solid $border-color;
        top:16px;
        right: 14px;
        position:absolute;
    }
}

.window-size{
    width: 266px;
    margin:0px;
}

.calendar__one-field{
    display: block;
    border:none;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    outline: none
}
