$article-color:#1F2041;
$text-color:#8f8fa0;

.reserve {
    font-family: 'Montserrat-Regular';
    width: 380px;
    height: 511px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding:30px;
    padding-top:40px;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
}

.reserve__hedder{
    @include space-between();
    margin-bottom: 20px;
}

@mixin number-room {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    margin:0px;
    color:$article-color;
    display: inline-block;
}

.reserve__number{
    @include number-room();
    font-size: 12px;
}

.reserve__room-number{
    @include number-room();
    font-size: 16px;
}

@mixin small-size-text {
    margin:0px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.reserve__type-room{
    @include small-size-text();
    display: inline-block;
    color:#BC9CFF;
}

.reserve__price-number-block{
    color:$text-color;
}

@mixin big-size-text {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    margin:0px;
}

.reserve__price-number{
    @include big-size-text();
}

.reserve__price-number-symbol{
    @include big-size-text();
}

.reserver__price-day{
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    margin:0px;
}

.reserve__guests-article{
    @include small-size-text();   
    margin-top:20px;
    margin-bottom: 5px;
}

@each $name-block in __sum-block, __discount-block, __additional-services-block {
    .reserve#{$name-block}{
        @include space-between();
    }
}

.reserve__sum-block{
    margin-top:20px;
}

.reserve__discount-block{
    margin-top:10px;
}

.reserve__additional-services-block{
    margin-top:10px;
}

@mixin medium-size-text {
    margin:0px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color:rgba(31, 32, 65, 0.75);
    display: inline-block;
}

@each $name-block in __calculation, __sum, __discount, __discount-sum, __additional-services, __additional-services-sum {
    .reserve#{$name-block}{
        @include medium-size-text();
    }
}

.reserve__additional-services{
    width: 214px;
    height: 36px;
    line-height: 18px;
}

.reserve__info{
    display: inline-block;
    font-size: 12px;
    border-radius: 50%;
    border:1px solid rgba(31, 32, 65, 0.25);
    color:rgba(31, 32, 65, 0.25);
    width:20px;
    height: 20px;
    box-sizing: border-box;
    margin-left: 5px;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    vertical-align: top;
}

@mixin footer-text {
    font-family: "OpenSans-Regular"; 
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color:$article-color;
    display: inline-block;
    margin:0px;
}

.reserve__total-block{
    margin-top:30px;
    display:flex;
    align-items: flex-end;
}

.reserve__total{
    @include footer-text();
}

.reserve__points{
    border-bottom:1px dotted rgba(31, 32, 65, 0.25);
    width: 178px;
    height: 2px;
    display:inline-block;
    margin-left:5px;
    margin-right: 5px;
    margin-bottom: 4px;
}

.reserve__total-sum{
    @include footer-text();
}