doctype html
html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
   
    title Webpack app
    body
        div
            h1 Text PUG
        p what is happen
        include reserve/reserve.pug
        include find-hotel-number/find-hotel-number.pug