doctype html
html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    <link href="datepicker.css" rel="stylesheet" type="text/css">
    <script src="datepicker.js"></script>
   
    title Webpack app
    body
        h1 Text PUG
        include find-hotel-number/find-hotel-number.pug