@font-face {
    font-family: 'Lobster';
    src:  url('./fonts/Lobster.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family:'Montserrat-Regular';
    src:url('./fonts/Montserrat-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family:'Montserrat-Regular';
    src:url('./fonts/Montserrat-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family:'OpenSans-Regular';
    src:url('./fonts/OpenSans-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family:'OpenSans-Regular';
    src:url('./fonts/OpenSansBold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}

body{
    font-family: 'Lobster';
    margin:0px;
    width: 100%;
}

.button-block__view-button{
    display: block;
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color:#fff;
    border:none;
    text-transform: uppercase;
    font-weight: 750;
    outline: none;
}


.button-block{
    position: relative;
}

.button-block::after{
    content: "";
    display:block;
    height:8px;
    width:8px;
    transform:rotate(45deg);
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    top:16px;
    right: 14px;
    position:absolute;
}

.button-block::before{
    content: "";
    display:block;
    height:12px;
    width:12px;
    border-top: 2px solid #fff;
    top:20px;
    right:14px;
    position:absolute;
}
