//Цветная кнопка со стрелкой
.button-color{
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
}

.button-color__arrow{
    position: relative;
    &::before{
        content: "";
        display:block;
        height:8px;
        width:8px;
        transform:rotate(45deg);
        border-right: 2px solid #fff;
        border-top: 2px solid #fff;
        top:16px;
        right: 14px;
        position:absolute;
    }
    &::after{
        content: "";
        display:block;
        height:12px;
        width:12px;
        border-top: 2px solid #fff;
        top:20px;
        right:14px;
        position:absolute;
    }
}

.button-color__view-button{
    display: block;
    width: 320px;
    height: 44px;
    border-radius: 22px;
    color:#fff;
    border:none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);    
}


//Белая кнопка
.button-white {
    display: inline-block;
    opacity: 1;
    position: relative;
    background-color: #fff;
}

.button-white__text{
    display: block;
    margin:0px;
    color:#BC9CFF;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 12px;
    line-height: 15px;
    font-weight: 750;
    position: absolute;
    top:12px;
    left:14px;
    z-index: 2;
    pointer-events: none;
}

.button-white__border{
    display: block;
    width: 87px;
    height: 34px;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    padding:2px;
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
}

.button-white__input{
    display: block;
    border:none;
    border-radius: 22px;
    width: 100%;
    height: 100%;
    background: #fff;
    color:#BC9CFF;
    text-transform: uppercase;
    font-weight: 750;
    outline: none;
    opacity: 1;
}

