mixin button-color(value)
    div.button-color
            div.button-color__arrow
                input(type="button" value=value).button-color__view-button

mixin button-white(value)
    div.button-white 
            p.button-white__text #{value}
            div.button-white__border
                input(type="button").button-white__input

