//Цветная кнопка со стрелкой
.button-color{
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
}

.button-color__arrow{
    position: relative;
    &::before{
        content: "";
        display:block;
        height:8px;
        width:8px;
        transform:rotate(45deg);
        border-right: 2px solid #fff;
        border-top: 2px solid #fff;
        top:16px;
        right: 14px;
        position:absolute;
    }
    &::after{
        content: "";
        display:block;
        height:12px;
        width:12px;
        border-top: 2px solid #fff;
        top:20px;
        right:14px;
        position:absolute;
    }
}

.button-color__view-button{
    display: block;
    width: 320px;
    height: 44px;
    border-radius: 22px;
    color:#fff;
    border:none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);    
}


//Белая кнопка
.button-white {
    display: inline-block;
    opacity: 1;
    position: relative;
    background-color: #fff;
}

.button-white__text{
    display: block;
    margin:0px;
    color:#BC9CFF;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 12px;
    line-height: 15px;
    font-weight: 750;
    position: absolute;
    top:12px;
    left:14px;
    z-index: 2;
    pointer-events: none;
}

.button-white__border{
    display: block;
    width: 87px;
    height: 34px;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    padding:2px;
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
}

.button-white__input{
    display: block;
    border:none;
    border-radius: 22px;
    width: 100%;
    height: 100%;
    background: #fff;
    color:#BC9CFF;
    text-transform: uppercase;
    font-weight: 750;
    outline: none;
    opacity: 1;
}

//Оформление toggle

.toggle__checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.toggle__text {
	position: relative;
	padding: 0 0 0 60px;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        top:0px;
        left: 0;
        width: 40px;
        height: 20px;
        border-radius: 13px;
        background: #fff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        padding:3px;
    }
    &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 16px;
        height: 16px;
        border-radius: 10px;
        background:rgba(31, 32, 65, 0.25);
        transition: 0.2s;
    }

}

.toggle__checkbox:checked{
    & + .toggle__text::before{
        border:1px solid #BC9CFF;
    }
    & + .toggle__text::after {
        background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        left: 26px;
    }

} 

//Оформление radio-button
.radio__field {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}
.radio__text{
	position: relative;
	padding: 0 0 0 30px;
	cursor: pointer;
}
.radio__text:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 20px;
	height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
	border-radius: 50%;
	background: #FFF;
}
.radio__text:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-image:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: 0.2s;
}
.radio__field:checked + .radio__text:after {
	opacity: 1;
}

.radio__field:checked + .radio__text:before {
    border: 1px solid #BC9CFF;
}
